* {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.btn-outline-danger:not(:active) {
    background: #f2f0ff;
}

.btn-delete {
    width: 38px;
    height: 32px;
}

html,
body {
    background-color: #191e2f !important;
}

.proposal-card {
    background-color: white;
}

.jm-vr {
    border-left: 2px dashed #0a00ac;
    height: 36px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    pointer-events: none;
}

.mention-container {
    width: 74px !important;
    height: 32px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.5px;
    color: #ffffff;
    margin: auto;
    padding: 3px 0;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
